GOOGLE_API_KEY=
DEEPSEEK_API_KEY=
ALI_API_KEY=
MODEL_PROVIDER=deepseek
LLM_MODEL=deepseek-chat
OPENAI_API_KEY=sk-pro
OPENAI_API_BASE=https://api.openai.com/v1
CLAUDE_API_KEY=sk-an
DOUBAO_API_KEY=8c
# HTTP_PROXY=http://127.0.0.1:7890
# HTTPS_PROXY=http://127.0.0.1:7890
